<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(msg=>{ %>
      <div class="message-container">
      <p><%= msg.text %> </p>
      <h3><%= msg.user  %> </h3>
      
      <h5><%= msg.added  %> </h5>
      </div>
  <%  }) %> 


  <button><a href="/new">Add Message</a></button>
  </body>
</html>
